{% layout "layout.liquid" %} {% block content %}

<div>
    <a href="/ryokans/"><button>Home</button></a>
    </div>
  {% if login %}
  <div>
    <a href="/user/logout"><button>Logout</button></a>
</div>
<div>
    <a href="/user/myaccount"><button>My Account</button></a>
  </div>
  {% else %}
  <div>
  <a href="/user/signup"><button>Signup</button></a>
</div>
<div>
  <a href="/user/login"><button>Login</button></a>
</div>
  {% endif %}

  <div>
    <article>
      <h2>
        {{ ryokan.name }}
      </h2>
      <h3>Address: {{ ryokan.address }}</h3>
      <h3>Tel: {{ ryokan.tel }}</h3>

      {% for review in reviews %}
      <h5>Title: {{ review.title }}</h5>
      <p>User: {{ review.user }}</p>
      <p>Rating: {{ review.rating }}</p>
      <p>
        Content: <br />
        {{ review.content }}
      </p>
      {% for photo in review.photo %}
      <h5>photo</h5>
      <img src="{{ photo }}" alt="" />
      {% endfor %}

      <a href="/reviews/{{ review._id }}/edit"><button>Edit</button></a>
      <form action="/reviews/{{ review._id }}?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>

      {% endfor %}

      <div>
        <form action="/ryokans/{{ id }}/reviews/new" method="post">
          <fieldset>
            <legend>Create a New Review</legend>
            <label> Ryokan:{{ ryokanName }} </label>
            <label>
              Title:<input type="text" name="title" placeholder="enter title" />
            </label>
            <label for="">User: {{ username }}</label>
            <label for="rating"> Rating</label>
            <select name="rating">
              <option value="5">🌟🌟🌟🌟🌟</option>
              <option value="4">🌟🌟🌟🌟</option>
              <option value="3">🌟🌟🌟</option>
              <option value="2">🌟🌟</option>
              <option value="1">🌟</option>
            </select>
      
            <label>
              Content:
              <textarea name="content" id="" cols="30" rows="10"></textarea>
            </label>
            <label for=""
              >Photo:
              <input type="file" name="photo" id="" />
            </label>
            <input type="hidden" name="ryokan" value="{{ id }}" />
            <input type="hidden" name="user" value="{{ userId }}" />
          </fieldset>
          <input type="submit" value="create new review" />
      
         
        </form>
      </div>

    </article>
  </div>
  {% endblock %}
</div>
