<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Ryokan Website</title>

    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />

    <!-- CSS Reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />

     <!-- head icon -->
     <link rel="bookmark" href="../../photos/hot-spring.png" />
     <link rel="shortcut icon" href="../../photos/hot-spring.png" />

    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script>
      // Initialize and add the map
      const address = "{{ ryokan.address }}";
      function initMap() {
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({ address: address }, function (results, status) {
          if (status == "OK") {
            // The location of Uluru
            // The map, centered at Uluru
            map = new google.maps.Map(document.getElementById("map"), {
              zoom: 10,
              center: results[0].geometry.location,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
              position: results[0].geometry.location,
              map: map,
            });
          } else {
            alert(
              "Geocode was not successful for the following reason: " + status
            );
          }
        });
      }

      window.initMap = initMap;
    </script>
    <!-- OUR CSS AND JS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>


  <body>
    <!-- nav bar -->
    <div class="navBar">
      <div class="buttonDiv">
        <header>
          <a href="/ryokans"><h2>The Ryokan Website</h2></a>
        </header>
      </div>

      <div>
        <form action="/ryokans" method="GET" id="searchContainer">
          <div class="buttonDiv">
            <input
              type="text"
              name="name"
              id="search"
              placeholder="Search Ryokan"
              class="searchBar"
            />
          </div>
          <div class="buttonDiv">
            <button class="button">search</button>
          </div>
        </form>
      </div>
      {% if login %}
      <div class="buttonContainer">
        <div class="buttonDiv">
          <a href="/user/logout"><button class="button">Logout</button></a>
        </div>
        <div class="buttonDiv">
          <a href="/user/myaccount"
            ><button class="button">My Account</button></a
          >
        </div>
      </div>
      {% else %}
      <div class="buttonContainer">
        <div class="buttonDiv">
          <a href="/user/signup"><button class="button">Signup</button></a>
        </div>
        <div class="buttonDiv">
          <a href="/user/login"><button class="button">Login</button></a>
        </div>
      </div>
      {% endif %}
      <div class="buttonDiv">
        <h5>Hello {{ username }}</h5>
      </div>
    </div>
          

    <!-- content -->
      <div class="showContent">
        <div class="buttonDiv">
          <h2>
            {{ ryokan.name }}
          </h2>
        </div>
        <div class="buttonDiv">
          <h3>Address: {{ ryokan.address }}</h3>
        </div>
        <div class="buttonDiv">
          <h3>Tel: {{ ryokan.tel }}</h3>
        </div>

          <div class="reviewPhoto">
        <div id="ryokanPhotoContainer">
          <div id="ryokanPhoto">
            {% for img in ryokan.img %}
            <img src="{{ img }}" alt="" />
            {% endfor %}
          </div>
        </div>

        <!-- google map API -->
        <div id="map" style="height: 400px; width: 400px"></div>
      </div>

        {% for review in reviews %}
        <div class="contentContainer">
        <h4>Title: {{ review.title }}</h4>
        <h4>User: {{ review.user.username }}</h4>
        <h6>Rating: {{ review.rating }}</h6>
        <h6>
          Content: <br />
          {{ review.content }}
        </h6>
        <h5>photo</h5>
        <div class="reviewPhoto">
          {% for photo in review.photo %}
          <div>
          <img src="{{ photo }}" alt="" />
        </div>
          {% endfor %}
        </div>
        </div>

        <!-- check if is current user  -->
        
        {% if username == review.user.username %}
        <div class="buttonContainer">
          <div class="buttonDiv">
        <a href="/reviews/{{ review._id }}/edit">
          <button>Edit</button>
        </a>
      </div>
      <div class="buttonDiv">
        <form action="/reviews/{{ review._id }}?_method=DELETE" method="POST">
          <input type="submit" value="Delete" />
        </form>
      </div>
      </div>
        {% endif %} {% endfor %} {% if show %}


        <!-- create new review -->
        <div class="contentContainer">
          <form action="/ryokans/{{ id }}/reviews/new" method="post" enctype="multipart/form-data">
            <fieldset>
              <h4>Create a New Review</h4>
              <label> Ryokan:{{ ryokan.name }} </label>
              <label>
                Title:<input
                  type="text"
                  name="title"
                  placeholder=""
                  class="input"
                />
              </label>
              <label for="">User: {{ username }}</label>
              <label for="rating"> Rating</label>
              <select name="rating">
                <option value="5">🌟🌟🌟🌟🌟</option>
                <option value="4">🌟🌟🌟🌟</option>
                <option value="3">🌟🌟🌟</option>
                <option value="2">🌟🌟</option>
                <option value="1">🌟</option>
              </select>

              <label>
                Content:
                <textarea name="content" id="" cols="30" rows="10" class="input"></textarea>
              </label>
              <label for=""
                >Photo:
                <input type="file" name="photos" class="input" multiple/>
              </label>
              <input type="hidden" name="ryokan" value="{{ id }}" />
              <input type="hidden" name="user" value="{{ userId }}" />

              <input type="submit" value="create new review" />
            </fieldset>
          </form>
        </div>

        {% endif %}
      </div>
    </main>
    <footer></footer>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{googleApiKey}}&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_locatorplus_v5_cA"
      async
      defer
    ></script>
  </body>
</html>
