{% layout "layout.liquid" %} {% block content %}

<div>
  <a href="/ryokans/new"><button>Create A New Ryokan</button></a>
</div>

<div>
  <h3>User: {{ username }}</h3>
  {% for review in reviews %}
  <article>
    <div class="contentContainer">
      <a href="/ryokans/{{ review.ryokan._id }}"
        ><h3>{{ review.ryokan.name }}</h3></a
      >
      <h5>Title: {{ review.title }}</h5>
      <p>Rating: {{ review.rating }}</p>
      <p>Content: {{ review.content }}</p>
      <h5>photo</h5>
      <div class="reviewPhoto">
        {% for photo in review.photo %}
        <div>
          <img src="{{ photo }}" alt="" />
        </div>
        {% endfor %}
      </div>
    </div>
  </article>
  <a href="/reviews/{{ review._id }}/edit">
    <button>Edit</button>
  </a>
  <form action="/reviews/{{ review._id }}?_method=DELETE" method="POST">
    <input type="submit" value="Delete" />
  </form>
  {% endfor %}
</div>

{% endblock %}
